[Desktop Entry]
Type=Application
Name=SO101 Console
Comment=SO101 机械臂监视/动作控制台
Exec=/home/muqiao/dev/ros2/projects/so101/start.sh
Icon=preferences-desktop-remote-desktop
Terminal=true
Categories=Development;
StartupNotify=true
